h1 {
  text-align: center;
  margin-top: 200px;
  font-family: Molle;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px black;
}
.crop-holder {
  margin: 300px 0;
  img {
    width: 100px;
  }
  p {
    margin-bottom: 50px;
  }
  a {
    font-size: 16px;
    text-align: center;
  }
  .seller-card {
    text-align: center;
  }
}
