h1 {
  text-align: center;
  height: 420px;
  margin-top: 20%;
  font-family: Molle;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px black;
}

.logo-holder {
  text-align: center;
  margin-top: 15%;
}

.landing-logo {
  width: 800px;
}

.landing-logo:hover {
  width: 804px;
  cursor:pointer;
}

.down-arrow {
  width: 50px;
  margin-left: 47%;
  margin-top: 30px;
}

.jumbo img {
  position: absolute;
  top: -200px;
  // top: 0;
  // background: url("https://preview.ibb.co/fwHpHF/Allotment_Images_02_copy.jpg");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  min-width: 100%;
  z-index: -1;
  min-height: 800px;
}
