.email-holder {
  height: 20px;
  text-align: center;
  a {
    color: white;
    font-size: 16px;
  }
}

.user-holder {
  margin-top: 280px;
  .btn {
    width: 100%;
    margin-top: 20px;
  }
  .gmap {
    margin-bottom: 30px;
  }
  .for-sale-list {
    text-align: center;

  }
  .btn-delete {
    width: 100%;
    background-color: #be1105;
    border: none;
    border-radius: 0;
    font-family: Lato;
    color: white;
  }
  .btn-delete:hover {
    background-color: darken(#be1105, 5%);
    box-shadow: 1px 1px rgba(0,0,0,0.3);
  }
  p {
    font-size: 16px;
  }
}

h5 {
  text-align: center;
  font-family: Lato;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 900;
}

.search-box {
  width: 100%;
  background-image: url('https://s11.postimg.org/lh1c0d8fn/Veg_Backgd10_Per_Cent-01.png');
  background-repeat: repeat-y;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-shadow: 1px 1px rgba(0,0,0,.2)
  }
  .desc-holder {
    background-color: rgba(255,255,255,.7);
    padding: 5px;
    p {
      text-align: justify;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
