<h1>{{ AllotmentProfileCtrl.selectedAllotment.name}}</h1>
<a href="#goDown"><img class="down-arrow" src="https://s28.postimg.org/dwasytcd9/Down_Arrow_White-01.png"></a>

<div class="allotment-holder row">
  <div class="col-xs-8 col-xs-offset-2">
    <h4>ALLOTMENT DETAILS</h4>
    <hr>
    <div class="col-xs-12 col-sm-6">
      <p><strong>NAME:</strong> {{AllotmentProfileCtrl.selectedAllotment.name}}</p>
      <p><strong>BOROUGH:</strong> {{AllotmentProfileCtrl.selectedAllotment.borough}}</p>
      <p><strong>POSTCODE:</strong> {{AllotmentProfileCtrl.selectedAllotment.nearestPostcode}}</p>
      <p><strong>LOCATION:</strong> {{AllotmentProfileCtrl.selectedAllotment.location}}</p>
      <button class="btn" ng-disabled="main.user.allotments.indexOf(AllotmentProfileCtrl.selectedAllotment._id) !== -1" ng-click="AllotmentProfileCtrl.addToMyAllotment()" name="button">Add To My Allotment</button>
      <button class="btn" ui-sref="featured">Back to Search...</button>
    </div>
    <div class="col-xs-12 col-sm-6">
      <google-map-a center="AllotmentProfileCtrl.selectedAllotmentCoords" id="goDown"></google-map-a>
    </div>
  </div>
</div>
