<h2>{{ CropShowCtrl.selectedCrop.name}}</h2>
<button ng-hide="!main.user" ng-disabled="main.user.forSale.indexOf(CropShowCtrl.selectedCrop._id) !== -1" ng-click="CropShowCtrl.addToForSale()">Add To My Crops For Sale</button>
<button ui-sref="featured">Back to Search...</button>
<hr>
<h4>Available to buy from...</h4>

<ul ng-repeat="seller in CropShowCtrl.sellingUsers">
  <a ui-sref="userShow({id: seller._id})"><li>{{seller.username}}</li></a>
</ul>
<hr>
<button ui-sref="register" ng-show="!main.user">Want to farm {{CropShowCtrl.selectedCrop.name}} yourself...</button>
