<h1>Featured</h1>

<main>
<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search..." ng-model="FeaturedCtrl.NearestPostcode">
  </div>
</form>


<!-- <div class="media" ng-repeat="allotment in allotment.allotments[0].result.records"> -->
<div class="media" ng-repeat="allotment in FeaturedCtrl.allotmentsFiltered">
  <div class="media-left">
    <a ui-sref="#">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ allotment.Name | uppercase }}</h4>
    <p>{{ allotment.Location }}</p>
    <p>{{ allotment.NearestPostcode }}</p>
    <p>{{ allotment.Borough }}</p>
    <p>{{ allotment.Latitude}}</p>
    <p>{{ allotment.Longitude }}</p>
  </div>
</div>
</main>
