<div>
  <h1>{{ UserShowCtrl.seller.username }}</h1>
  <a href="mailto:{{UserShowCtrl.seller.email}}">Contact {{UserShowCtrl.seller.username}}</a>
</div>
<hr>

<div style="display: inline-block">
  <h4>Crops for sale</h4>
  <ul ng-repeat="item in UserShowCtrl.cropArray">
    <li>{{item.name}}<button ng-show="UserShowCtrl.user._id === UserShowCtrl.seller._id" ng-click="UserShowCtrl.cropDelete( item)">REMOVE</button></li>
  </ul>
</div>

<div style="display: inline-block">
  <h4>Find me at this allotment</h4>
  <ul ng-repeat="place in UserShowCtrl.allotmentArray">
    <li>{{place.name}}</li>
  </ul>
</div>
<hr>
<button ng-click="UserShowCtrl.goBack()">Go Back</button>
<hr>

<div ng-show="main.user">
  <h4>Search Crops to Buy/Sell...</h4>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Crops..." ng-model="UserShowCtrl.cropName">
    </div>
  </form>
  <div ng-show="UserShowCtrl.cropName.length > 0" class="media" ng-repeat="crop in UserShowCtrl.cropsFiltered">
    <div class="media-left">
    </div>
    <div class="media-body">
      <a ui-sref="cropShow({id: crop._id})"><h4 class="media-heading">{{ crop.name | uppercase }}</h4></a>
      <p>{{ crop.description }}</p>
    </div>
  </div>
</div>
<google-map-u center="AllotmentProfileCtrl.selectedUserCoords"></google-map-u>
