.google-map {
  height: 300px;
  width: 300px;
  display: inline-block;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Lato;
}


@import 'components/jumbotron';
@import 'components/navbar';
@import 'components/forms';
@import 'components/featured';
@import 'components/crop-show';
@import 'components/allotment-profile';
@import 'components/profile';
@import 'components/landing';
